* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #23252C;
    margin: 0;
}

.card-body{
    height: 90%;
    width: 50%;
    margin: 10% 25%;
    background: #1A1B21;
    border-radius: 10px
}

.myPic{
    height: 45vh;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.main-div{
    /* justify-content: space-between; */
}
.name-text{
    color: antiquewhite;
    /* padding: 0px 20%; */
    text-align: center;
    /* padding: 0; */
    margin-bottom: 0;
    font-weight: 100
}

.role-text{
    color: goldenrod;
    font-size: 14px;
    font-weight: 50;
    text-align: center;
    /* padding: 0px 0px; */
    margin: 0px 0px;
}

.email-text{
    text-align: center;
    color: antiquewhite;
    margin: 0px 0px;
    font-weight: 10;
    font-size: 10px;
    text-decoration: underline;
}

#btn{
    
}

.btn1{
    width: 35%;
    height: 35px;
    border-radius: 8px;
    /* justify-content: center; */
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 5px;
    text-align: center;
}

.btn2{
    width: 35%;
    height: 35px;
    border-radius: 8px;
     margin-top: 3%;
    /* justify-content: center; */
    text-align: center;
    background: lightskyblue;
}

.about-section{
    color:antiquewhite;
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 15%;
}

.about-text{
    margin-bottom: 0px;
}

p{
    font-size: 15px;
    opacity: 0.8;
    margin-top: 5px;
}

.footer{
    height: 55px;
    width: 100%;
    background: #161619;
    border-radius: 0px 0px 10px 10px ;
    /* margin-left: 25px */
}

.footer > img{
    height: 35px;
    justify-content: space-between;
    margin: 5% 2% 15% 7%
}

.mail-logo{
    height: 20px;
    margin-top: 2px;
    margin-right: 10px;
    
}

.twitter{
    margin-left: 20px;
}